<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestScript.InvalidLoginPage"/>
      <class name="TestScript.AddNewEmployePage"/>
      <class name="TestScript.ValidLoginPage"/>
      <class name="TestScript.ApplyForLeave"/>
      <class name="TestScript.PimNewEmploye"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->


